@import fonts
@import controls
html,
body 
	padding: 0
	margin: 0

a 
	color: inherit
	text-decoration: none

* 
	box-sizing: border-box

body
	background-color: #282725
	color: white

.ml
	margin-left: 180px